{% extends "base.html" %}

{% block title %}{{ imovel.titulo }} - Detalhes do Imóvel{% endblock %}

{% block content %}
<div class="container imovel-detalhe-container">
    {% if imovel %}
        <div class="imovel-info">
                <div class="price-box">
                    <span>Preço:</span>
                    <p class="imovel-detalhe-price">R$ {{ "%.2f"|format(imovel.preco) }}</p>
                </div>

                <div class="imovel-specs">
                    <h2>Principais Características</h2>
                    </div>
                
                <div class="contact-box">
                    <h2>Fale Conosco</h2>
                    <p>Entre em contato para agendar uma visita:</p>
                    <p class="contact-info">
                        <strong>Corretora:</strong> JTF Imóveis<br>
                        <strong>Telefone:</strong> (65) 9278-1542 </p>
                    <a href="https://api.whatsapp.com/send?phone=556592781542" target="_blank" class="btn-whatsapp"> &#128173; Chamar no WhatsApp
                    </a>
                </div>
            </div>
        </div>
        
        {% else %}
        <h1 style="text-align: center;">Imóvel não encontrado.</h1>
        <p style="text-align: center;"><a href="{{ url_for('index') }}">Voltar para a página inicial</a></p>
    {% endif %}
</div>

<style>
    </style>
{% endblock %}